{% extends "client/base.html" %}
{% block pagescripts %}
	<script type="text/javascript">	
		var onpageload = function(){
		    setInterval( "slideSwitch()", 2000 );		    
		    var url = "{% url new_items %}";
			get_async_update(url);	    
		}
		
		var get_async_update = function(url){
			$.get(url,function(result){
				$("#items").html(result);
			},'html');
		}
	</script>
{% endblock %}
{% block banner %}
<div id="section">
	<ul>
		{% if categories %}
			{% for category in categories %}
				<li><a href="{% url product_url %}">{{category.name}}</a></li>
			{% endfor %}
		{% endif %}		
	</ul>
	<div id="slideshow">	
	{% if images %}
		{% for image in images %}
			<img src="{{image.img}}" alt="Image" {% if img.active %}class="active"{% endif %} />
		{% endfor %}
	{% endif %}    
	    <!--<img src="/static/images/client/wedding-cupcakes-large.jpg" alt="Image" class="active" />
	    <img src="/static/images/client/wedding-cupcakes-large-t.jpg" alt="Image" />-->
	</div>
</div>
{% endblock %}
{% block pagecontent %}
<div>
	<h1>New cakes</h1>
	<ul id="items">		
	</ul>
</div>
{% endblock %}