body
{
	font-size: 12px; 
	font-family: Ubuntu,sans-serif;
	background: #e1c192;
	margin:0px;
}

input[type=text]
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

select{
    background: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    outline: none;
    padding: 5px;
    width: 150px;
    float:left;
    margin-right: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

textarea
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 250px;
    height:50px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a
{
	text-decoration:none;
	color:White;
}

#container
{
	margin-top:0px;
	margin-left:100px;
	margin-right:100px;
	height:1000px;	
}

#welcome
{	
	margin-top:20px;
	height:20px;
	width:100%;
	clear:both;
	background: #e1c192 url(/static/images/Sand_Pattern.jpg);
}

#welcome div
{
	float:right;
	padding-right:4px;
	padding-top:4px;
	text-transform: lowercase;
}

#logo
{
	height:75px;
	clear:both;
	color:Black;
	font-family:Verdana;
	font-size:36px;
	line-height:73px;    
    padding-left:10px;
    background: #e1c192 url(/static/images/Sand_Pattern.jpg);
    box-shadow: 10px 10px 5px #888888;
}

#nav
{
	height:30px;
	background: #e1c192 url(/static/images/Sand_Pattern.jpg);
	box-shadow: 10px 10px 5px #888888;
	border-top:1px solid #888888;
	border-bottom:1px solid #888888;
}

#nav ul
{margin:0px; padding:0px;}

#nav ul li
{display:inline; height:22px; float:left; list-style:none; margin-left:15px;position:relative; width:60px;line-height:28px;}

#nav li a
{color:Black; text-decoration:none;}

#nav li a:hover
{text-decoration:underline;}

#nav li ul
{
margin:0px;
padding:0px;
display:none;
position:absolute;
left:0px; top:20px;
background-color:#e1c192;
}

#navigation li li a
{color:#fff; text-decoration:none;}

#navigation li li a:hover
{text-decoration:underline;}

#nav li:hover ul
{
display:block;
width:100px;
}

#nav li li
{
list-style:none;
display:list-item;
width:100%;
}

#bodycontent
{
	background: #e1c192 url(/static/images/Sand_Pattern.jpg);
	box-shadow: 10px 10px 5px #888888;
	height:800px;
}

/*notification styles*/
/*
 * Stylesheet for Ambiance - Notification Plugin for jQuery
 * Version 1.0.1
 *
 * Copyright (c) 2012 Richard Hsu
 * Documentation: http://www.github.com/richardhsu/jquery.ambiance
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 */

/* Notification area will be top right but feel free to modify it below. */
#ambiance-notification {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* Built in custom styling for the notifications. */
.ambiance-title {
  font-weight: bold;
}

.ambiance {
  float: right;
  clear: both;
  border: 3px solid transparent;
}

.ambiance:hover {
  border: 3px solid #DDDDDD;
}

.ambiance-default, .ambiance-success, .ambiance-error {
  border-radius: 5px;
  -moz-border-radius: 5px; /* Firefox 3.6 and earlier. */
  padding: 10px;
  margin: 10px;
}

.ambiance-default {
  background: #000000;
  color: #DDDDDD;
}

.ambiance-success {
  background: #468847;
  color: #DFF0D8;
}

.ambiance-error {
  background: #B94A48;
  color: #F2DEDE;
}

/* Close button attributes -- based off Twitter Bootstrap alert close item. */
.ambiance-close {
  display: block;
  position: relative;
  top: -2px;
  right: 0px;
  color: #FFFFFF;
  float: right;
  font-size: 18px;
  font-weight: bold;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: relative;
  line-height: 14px;
  margin-left: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ambiance-close:hover {
  color: #BBBBBB;
  cursor: pointer;
}

#categorybox
{
	background-color:#e1c192;
	width:400px;
	height:142px;
	padding-left:5px;
	padding-right:5px;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
}

#left
{
	width:375px;
	float:left;
}

#right
{
	width:370px;
	float:right;
}

#title
{
	text_decoration:underlined;
	display:block;
}

#actionbar
{
	float:right;
}

#itembox
{
	/* Size and position */
    width: 750px;
    height: auto;
    padding: 15px;
    padding-top: 2px;
    position: absolute;
	margin-left:225px;
	margin-top:50px;
    /* Styles */
    background: url(/static/images/Sand_Pattern.jpg);
    border-radius: 4px;
    color: Balck;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4);
}

#itembox h1 {
    font-size: 15px;
    font-weight: bold;
    color: Black;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

#itembox input[type=text]
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#homecategories
{
	margin-left:10px;
}

#thumbnail
{
	border: 1px solid Black;
}

#items
{
	margin: 0 auto;
}