{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		<title>Cakeshop admin</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/primary.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.lightbox_me.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.ambiance.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}scripts/common.js"></script>
		<script type="text/javascript">
			var categories = null;
			
			$(document).ready(function(){				
				wireevents();
				onload();
			});
			
			var onload = function()
			{
				$("#itembox").hide();
				$("#categorybox").hide();
				load_categories();
			}
			
			var wireevents = function()
			{
				$("#create").click(function(){
					$("#itembox").show();
					$("#itembox").lightbox_me({
        					centered: true,lightboxSpeed:"normal",onLoad:load_categories});
				});
				$("#categoryadd").click(function(){
					$("#categorybox").show();
					$("#categorybox").lightbox_me({
        					centered: true,lightboxSpeed:"normal"});					
				});
				$("#addcategorybutton").click(function(){
					var cat = $.trim($("#categoryinputbox").val());
					if(cat != '')
					{ 
						$.post('{% url 'cakeshop.apps.admin.views.categories.add_category' %}',{name:cat},function(result){
							$("#categorybox").trigger('close');
							result = $.parseJSON(result);
							if(result['status'] && result['data'] != -1)
							{
								var new_category = new Object();
								new_category.id=result['data'];
								new_category.name=cat;
								categories.push(new_category);
								$.ambiance({
									message: "The category has been successfully added.", 
						            title: "Success!",
						            type: "success"});
							}
							else
							{
								$.ambiance({
									message: "Error adding the category", 
						            title: "Error",
						            type: "error"});
							}
						});
					}
					else
					{
						$.ambiance({
							message: "Please enter a category", 
				            title: "Error",
				            type: "error"});
					}
				});
				$("#canceladdcategorybutton").click(function(){
					$("#categorybox").trigger('close');
				});	
				$("#additem").click(function(){
					alert('add clicked');
				});	
				$("#canceladditembutton").click(function(){
					$("#itembox").trigger('close');
				});		
			}
			
			var load_categories = function()
			{
				if(categories == null)
				{
					$.get('{% url 'cakeshop.apps.admin.views.categories.get_categories' %}',function(data,status,xhr)
					{
						if(data.length > 0)
						{
							categories = data;							
						}
					});
				}
				var options = []
				if(categories != null && categories.length > 0)
				{
					$.each(categories, function(key,value){
						options.push('<option value="'+ value.id +'">'+ value.name +'</option>');
					});
					$('#categorycombobox').html(options.join(''));
				}
			}			
		</script>
	</head>
	<body>
		 {% csrf_token %}
		<div id="container">
			<div id="welcome">
				{% block headercontent %}
					{% if user.is_authenticated %}
						<div>Hi {{ user.first_name }} | <a href="{% url 'cakeshop.apps.admin.views.logoutuser' %}">Log Out</a></div>
					{% endif %}
				{% endblock %}
			</div>
			<div id="logo">
				Cakeshop admin
			</div>
			<div id="nav">
				<ul>
				 	<li><a href="#">Home</a></li>
				 	<li>				 
				  		<a href="#">Item</a>				  
				  		<ul>				  
				   			<li><a id="create" href="#">Create</a></li>
						   	<li><a href="#">Search</a></li>	
						   	<li><a id="categoryadd" href="#">Add Category</a></li>
				  		</ul>				 
				 	</li>		
				</ul>
			</div>
			<div id="bodycontent">
				{% block bodycontent %}
				{% endblock %}
			</div>
			<div id="itembox">
				<h2>add item</h2>
				<div id="createitem">						
					<label>name</label><input name="name" type=text />								
					<label>category</label><select id="categorycombobox"></select>
					<label>description</label><textarea name="description"></textarea>	
					<div id="itemimages">
						<input type="file" name="addimg" />
					</div>
					<div id="addnew"><input type="button" value="Add image" /></div>
					<fieldset>
						<legend>images</legend>
						<div id="imgcontainer"></div>
					</fieldset>					
					<hr/>
					<div id="actionbar"><input type="button" id="additembutton" value="Add"/><input type="button" id="canceladditembutton" value="Cancel"/></div>				
				</div>
			</div>
			<div id="categorybox">
				<div id="createcategory">
					<h2>add category</h2>
					category <input type="text" id="categoryinputbox" />
					<hr/>
					<div id="actionbar"><input type="button" id="addcategorybutton" value="Add"/><input type="button" id="canceladdcategorybutton" value="Cancel"/></div>
				</div>
			</div>
		</div>
	</body>
</html>