{% extends "adminbase.html" %}
{% load url from future %}
{% block pagetitle %} item details {% endblock %}
{% block pagescripts %}
	<script type="text/javascript">	
		var count=0;
		var load_categories = function()
		{
			$.get('{% url 'cakeshop.apps.admin.views.categories.get_categories' %}',function(data,status,xhr)
			{
				if(data.length > 0)
				{
					var options = []
					$.each(data, function(key,value){
						options.push('<option value="'+ value.id +'">'+ value.name +'</option>');
					});
					$('#categorycombobox').html(options.join(''));							
				}
			});
		}	
		
		var onpageload = function()
		{
			$("#addimagebutton").click(function(){
				count = count+1;
				$('#addimagediv').append(
			        $('<input/>').attr('type', 'file').attr('name', 'imageselector_'+count)
			    );
			});
			
			$('#imageslider').codaSlider(
				{
					dynamicTabs: false,
					autoHeight: true,
					continuous: false,
					dynamicArrowsGraphical: true,
		        	dynamicArrowLeftText: "&#171; left",
		       		dynamicArrowRightText: "right &#187;"
		       });
		}
		
		$(function(){
		    onpageload();
			load_categories();
		});
		
	</script>
{% endblock %}
{% block bodycontent %}
	<div id="itembox">
		<h1>add item</h1>
		<div id="left">	
			<table>
				<tr>
					<td valign="center"><label>name</label></td>
					<td><input type="text" id="iteminputbox" /></td>
				</tr>
				<tr>
					<td><label>category</label></td>
					<td><select id="categorycombobox"></select></td>
				</tr>
				<tr>
					<td valign="middle"><label>description</label></td>
					<td><textarea id="desctextarea"></textarea></td>
				</tr>
			</table>
			<div><input type="button" value="Add image" id="addimagebutton"></input></div>
			<div id="addimagediv"></div>
		</div>
		<div id="right">
			<div class="coda-slider" id="imageslider">    
				
    		</div>
		</div>
		<hr style="clear:both;"/>
		<div id="actionbar"><input type="button" id="additembutton" value="Add"/></div>
	</div>
{% endblock %}