{% extends "adminbase.html" %}
{% load url from future %}
{% block pagetitle %} item details {% endblock %}
{% block pagescripts %}
	<script type="text/javascript">	
		var load_categories = function()
		{
			$.get('{% url 'cakeshop.apps.admin.views.categories.get_categories' %}',function(data,status,xhr)
			{
				if(data.length > 0)
				{
					var options = []
					$.each(data, function(key,value){
						options.push('<option value="'+ value.id +'">'+ value.name +'</option>');
					});
					$('#categorycombobox').html(options.join(''));							
				}
			});
		}	
		
		load_categories();
	</script>
{% endblock %}
{% block bodycontent %}
	<div id="itembox">
		<h1>add item</h1>
		<div id="left">	
			<table>
				<tr>
					<td valign="center"><label>name</label></td>
					<td><input type="text" id="categoryinputbox" /></td>
				</tr>
				<tr>
					<td><label>category</label></td>
					<td><select id="categorycombobox"></select></td>
				</tr>
				<tr>
					<td valign="middle"><label>description</label></td>
					<td><textarea id="desctextarea"></textarea></td>
				</tr>
			</table>
		</div>
		<div id="right">
		</div>
		<hr style="clear:both;"/>
		<div id="actionbar"><input type="button" id="additembutton" value="Add"/></div>
	</div>
{% endblock %}