{% extends "admin/adminbase.html" %}
{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		{% block pagetitle %} home {% endblock %}
	</head>
	<body>
		{% block bodycontent %}
			<table id="homecategories">
				<tr>
					<td>categories </td>
					<td>
						<select id="categoriesdropdown">
						{% if categories == None %}
							<option value="0">no categories available</option>
						{% else %}
							<option value="0">All</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						{% endif %}
						</select>
					</td>
				</tr>
			</table>
			<br/>
			<div id="items">
				<table>					
					{% for item in items %}
					<tr>
						<td>	
						{% include 'admin/itemthumb.html' with thumb=item %}
						</td>
					</tr>
					{% endfor %}
					</tr>
				</table>
			</div>
		{% endblock %}
	</body>
</html>